@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}
body {
  font-family: Roboto;
}
.navigate {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.navigate .navbar {
  height: 80px;
  padding: 0;
}
.navigate .navbar a.navbar-brand {
  margin: 0 40px 0 0;
}
.navigate .navbar a.navbar-brand img {
  width: 119px;
}
.navigate .navbar .navbar-collapse.collapse {
  justify-content: space-between;
}
.banner {
  width: 100%;
  height: 568px;
  background-size: cover;
  background-position: center center;
}
.banner .col-lg-6.left-column {
  height: 565px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .col-lg-6.left-column h1 {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 48px;
  width: 93%;
  color: #ffffff;
  margin: 0 0 0 10px;
}
.banner .col-lg-6.left-column p {
  font-size: 28px;
  font-style: italic;
  color: #f0b323;
}
.banner .col-lg-6.left-column button {
  display: inline-block;
  width: 160px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  background-color: #38701A;
  padding: 10px 40px;
}
.gojeknewlogo {
  margin: 100px 0;
}
.gojeknewlogo .col-lg-6.left-column img {
  width: 100%;
  border-radius: 16px;
}
.gojeknewlogo .col-lg-6.right-column {
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gojeknewlogo .col-lg-6.right-column .distance {
  padding: 0 55px;
}
.gojeknewlogo .col-lg-6.right-column .distance h2 {
  font-size: 34px;
  font-weight: bolder;
}
.gojeknewlogo .col-lg-6.right-column .distance p {
  color: #494a4a;
}
.gojeknewlogo .col-lg-6.right-column .distance a {
  font-size: 18px;
  color: #00aa13;
  position: relative;
}
.gojeknewlogo .col-lg-6.right-column .distance a:hover {
  transform: scaleX(1);
  visibility: visible;
}
.gojeknewlogo .col-lg-6.right-column .distance a:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #00aa13;
  bottom: -2px;
  left: 0;
  transform-origin: left center;
  transition: all .3s;
}
.carousel-cerdikiawan {
  margin: 50px 0;
}
.carousel-cerdikiawan #carouselCerdikiawanHome .carousel-indicators {
  bottom: -50px;
}
.carousel-cerdikiawan #carouselCerdikiawanHome .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e8e8e8;
}
.carousel-cerdikiawan #carouselCerdikiawanHome .carousel-indicators li.active {
  background-color: #00aa13;
}
.carousel-cerdikiawan #carouselCerdikiawanHome .carousel-inner .carousel-item img {
  border-radius: 35px;
}
.carousel-cerdikiawan #carouselCerdikiawanHome a.carousel-control-prev,
.carousel-cerdikiawan #carouselCerdikiawanHome a.carousel-control-next {
  width: 50px;
  height: 50px;
  top: 45%;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.carousel-cerdikiawan #carouselCerdikiawanHome a.carousel-control-prev i.fas,
.carousel-cerdikiawan #carouselCerdikiawanHome a.carousel-control-next i.fas {
  color: #00aa13;
}
.carousel-cerdikiawan #carouselCerdikiawanHome a.carousel-control-prev {
  left: -70px;
}
.carousel-cerdikiawan #carouselCerdikiawanHome a.carousel-control-next {
  right: -70px;
}
.our-service {
  padding: 100px 0;
}
.our-service .title {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 70px 0;
}
.our-service .transport-logistic,
.our-service .food-fmcg,
.our-service .payments,
.our-service .daily-needs,
.our-service .news-entertainment {
  margin: 0 0 30px;
}
.our-service .transport-logistic h2.subtitle,
.our-service .food-fmcg h2.subtitle,
.our-service .payments h2.subtitle,
.our-service .daily-needs h2.subtitle,
.our-service .news-entertainment h2.subtitle {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 16px;
}
.our-service .transport-logistic p.desc-subtitle,
.our-service .food-fmcg p.desc-subtitle,
.our-service .payments p.desc-subtitle,
.our-service .daily-needs p.desc-subtitle,
.our-service .news-entertainment p.desc-subtitle {
  font-size: 18px;
}
.our-service .transport-logistic .card-carousel,
.our-service .food-fmcg .card-carousel,
.our-service .payments .card-carousel,
.our-service .daily-needs .card-carousel,
.our-service .news-entertainment .card-carousel {
  padding: 0 15px;
}
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap {
  display: flex;
  padding: 15px 0;
}
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5 {
  width: 235px;
  height: 300px;
  padding: 15px;
  margin: 0 15px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  background-color: #ffffff;
  transition: all .3s;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5:hover,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5:hover {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5 img.img-card,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5 img.img-card {
  margin: 0 0 20px;
}
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-1 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-2 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-3 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-4 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5 p.desc-service,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment .carousel-item .card-carousel-wrap .card-5 p.desc-service {
  text-align: left;
}
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next {
  width: 50px;
  height: 50px;
  top: -100px;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev i.fas,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev i.fas,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev i.fas,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev i.fas,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev i.fas,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev i.fas,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev i.fas,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev i.fas,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev i.fas,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev i.fas,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev i.fas,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev i.fas,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev i.fas,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev i.fas,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev i.fas,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev i.fas,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev i.fas,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev i.fas,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev i.fas,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev i.fas,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev i.fas,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev i.fas,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev i.fas,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev i.fas,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev i.fas,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next i.fas,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next i.fas,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next i.fas,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next i.fas,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next i.fas,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next i.fas,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next i.fas,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next i.fas,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next i.fas,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next i.fas,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next i.fas,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next i.fas,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next i.fas,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next i.fas,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next i.fas,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next i.fas,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next i.fas,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next i.fas,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next i.fas,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next i.fas,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next i.fas,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next i.fas,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next i.fas,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next i.fas,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next i.fas {
  color: #00aa13;
}
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-prev,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood a.carousel-control-prev,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments a.carousel-control-prev,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-prev,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-prev {
  right: 70px;
  left: unset;
}
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next,
.our-service .payments .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceTransport a.carousel-control-next,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next,
.our-service .payments .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceFood a.carousel-control-next,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next,
.our-service .payments .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next,
.our-service .daily-needs .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServicePayments a.carousel-control-next,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next,
.our-service .payments .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceDailyNeeds a.carousel-control-next,
.our-service .transport-logistic .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next,
.our-service .food-fmcg .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next,
.our-service .payments .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next,
.our-service .daily-needs .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next,
.our-service .news-entertainment .card-carousel #cardCarouselGojekServiceNewsEntertainment a.carousel-control-next {
  right: 0;
}
.footer {
  background-color: #1c1d1d;
  color: #ffffff;
  padding: 20px 0 40px;
}
.footer hr.hr-footer {
  background-color: #ffffff;
}
.footer .footer-copyright {
  text-align: center;
}
.footer .footer-copyright p {
  font-size: 12px;
  margin: 0;
}
